<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Menú</title>
</head>
<body>	
  <h1>TP02</h1>
  <ul>
    <li><a href="/punto15?anio=21/12/2003&nombre=Aldana">puntoUno</a></li>
    <li><a href="/punto17">puntoDos</a></li>
    <li><a href="/punto_3">puntoTres</a></li>
    <li><a href="/punto_4">puntoCuatro</a></li>
    <li><a href="/punto_5">puntoCinco</a></li>
    <li><a href="/punto_6">puntoSeis</a></li>
    <li><a href="/punto_7">puntoSiete</a></li>
    <li><a href="/punto_8">puntoOcho</a></li>
  </ul>
</body>
</html>